* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    margin-right: 32px;
    margin-bottom: 7px;
}

span {
    margin-right: 32px;
    margin-bottom: 15px;
}